body {
    background: linear-gradient(to bottom, #3f026b, #000000);
    color: white;
}

html{
    scroll-behavior: smooth;
}

header {
    background: rgba(77, 2, 121, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#projects {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.swiper-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.swiper-slide {
    background: rgba(255, 255, 255, 0.2);
}
h2, h3 {
    color: white;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.footer-slide-up {
    animation: slideUp 1s ease-in-out;
}