body {
    background: linear-gradient(to bottom, #3f026b, #000000);
    color: white;
}
#projects {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.swiper-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.swiper-slide {
    background: rgba(255, 255, 255, 0.2);
}
h2, h3 {
    color: white;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

